node_modules
dist
dist-test
results
tests
tsconfig.test.json
.github
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
coverage
.vscode
.idea
.DS_Store
README.md
*.tsbuildinfo
playwright-report
test-results
